/* Root colors */
:root {
  --primary-dark: #a9927d;
  --primary-light: #cec3b8;
  --secondary-dark: #D4C962;
  --secondary-light: #F2F247;
  --tretry-dark: #8c3e51;
  --tretry-light: #f45b69;
  --light: #f2f4f3;
  --grey: #4d575b;
  --dark: #242038;
}
