/* Root colors */
:root {
  --primary-dark: #80B3FF;
  --primary-light: #19A7CE;
  --secondary-dark: #D4C962;
  --secondary-light: #01204C;
  --tretry-dark: #8c3e51;
  --tretry-light: #7B66FF;
  --light: #f2f4f3;
  --grey: #4d575b;
  --dark: #242038;
}
