@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  font-family: "Laachir Deeper", sans-serif;
  overflow: hidden;
}

*::-webkit-scrollbar{
  display: none;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
